/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1224px) {

.navbar {

  position: relative;

  padding-left: 60px;

  padding-right: 85px; 

}



}





/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 992px) and (max-width : 1223px) {



.navbar {

  position: relative;

  padding-left: 0;

  padding-right: 0;

}

.nav>li>a {

  position: relative;

  display: block;

  padding: 10px 8px;

}



.we-do-content {

  min-height: 1841px;

  background: url(../images/shape.png) no-repeat 82px 0px;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 729px 1841px;

}

.title-image-odd {

  position: absolute;

  top: 133px;

  left: 13px;

  width: 131px;

}

.title-image-even {

  position: absolute;

  top: 138px;

  right: 28px;

  width: 131px;

}

.image-margin-left img {

  margin-left: 14px;

}

.image-margin-right img {

  margin-left: -2px;

}

.work-done {

  text-align: center;

  min-width: 181px;

  padding-top: 30px;

  padding-bottom: 35px;

  float: left;

  min-height: 280px;

  margin-top: 70px;

}

.left-team {

  background: url(../images/team-bg-left.png) no-repeat 38px 0px;

  width: 454px;

  height: 238px;

  margin-right: -2px;

  margin-top: 40px;

  margin-left: 3px;

  float: left;

  background-size: 396px 238px;

}

.team-people-left-float-right {

  width: 236px;

  float: right;

  padding-left: 0px;

  padding-top: 23px;

}



.right-team {

  background: url(../images/team-bg.png) no-repeat 15px 0px;

  width: 457px;

  height: 238px;


  margin-left: -1px;

  float: right;

  margin-bottom: 40px;

  background-size: 308px 238px;

}

.team-people-left {

  width: 238px;

  float: left;

  padding-left: 28px;

  padding-top: 23px;

}

.last-box {

  height: 305px;

}

.price-lower-left {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 283px;

  background: #fff;

  float: right;

}

.accr-right {

  max-width: 50%;

  min-height: 100px;

  padding: 25px 40px 20px 40px;

  float: left;

  max-height: 384px;

}

.accr-left {

  max-width: 50%;

  float: left;

}



.portfolio {

  width: 100%;

  min-height: 431px;

  margin-top: 50px;

  margin: auto;

  margin-top: 50px;

}



}




@media only screen and (min-width: 1200px) and (max-width : 1224px) {
.price-lower-left{
  width: 301px;
}
}




/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) and (max-width : 991px) {

.nav>li>a {

  position: relative;

  display: block;

  padding: 10px 3px;

}

.navbar-default .navbar-nav>li>a {

  font-family: open_sansbold;

  color: #fff;

  margin-top: 84px;

  font-size: 11px;

}

.welcome-description {

  font-family: ralewayextrabold;

  font-size: 36px;

  text-transform: uppercase;

  color: #fff;

  line-height: 1.1em;

  letter-spacing: 2px;

  margin-top: 20px;

}

.welcome-left-section {

  padding-top: 54px;

  padding-left: 40px;

}

.welcome-right-section {

  padding-right: 60px;

}

.header-area {

  padding-bottom: 36px;

  padding-top: 100px;

}

.love-sign {

  color: #fdbe00;

  font-size: 30px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 80px;

}

.quality-text {

  font-family: ralewayregular;

  font-size: 14px;

  color: #888a8a;

  width: 123px;

  text-align: center;

  margin: auto;

}

.quality-area {

  padding-top: 60px;

  padding-bottom: 50px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 52px;

}

.we-do-area {

  padding-top: 60px;

}

.we-do-heading {

  font-family: ralewayextrabold;

  font-size: 30px;

  text-align: center;

  color: #fff;

  padding-bottom: 9px;

}

.we-do-text {

  max-width: 800px;

  display: block;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  text-align: center;

  margin: auto;

  line-height: 1.6em;

  padding-bottom: 22px;

}

.we-do-content {

  min-height: 1841px;

  background: url(../images/shape.png) no-repeat 70px 0px;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 548px;

}

.we-do-first-right {

  margin-top: 75px;

  width: 327px;

  margin-left: 33px;

}

.title-image-odd {

  display: none;

}

.title-image-even {

  display: none;

}

.we-do-content {

  min-height: 1677px;

  background: url(../images/shape.png) no-repeat 38px 0px;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 608px;

}

.we-do-first-left {

  min-height: 310px;

  margin-top: 60px;

}

.we-do-second-left {

  margin-top: 35px;

  width: 315px;

  margin-left: -20px;

}

.we-do-second-right {

  min-height: 310px;

  margin-top: 76px;

  padding-left: 12px;

}

.we-do-content-heading {

  display: block;

  max-width: 425px;

  font-family: ralewaysemibold;

  font-size: 14px;

  padding-top: 8px;

}

.we-do-content-paragraph {

  display: block;

  max-width: 530px;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  padding-top: 1px;

  padding-bottom: 15px;

}

.read-more {

  font-family: ralewaysemibold;

  font-size: 12px;

  padding: 5px 15px 5px 15px;

  background: #fff;

  color: #000;

  border-radius: 2px;

  margin-top: -15px;

  display: block;

  width: 100px;

}

.we-do-third-right {

  margin-top: 27px;

}



.we-do-third-left {

  min-height: 310px;

  margin-top: 71px;

}

.we-do-panels {

  margin-top: 198px;

  width: 100%;

  position: relative;

  overflow: hidden;

}



.how-we-do-area {

  padding-top: 80px;

  padding-bottom: 69px;

}

.min-height{

    min-height: 300px;

}

.min-height {

  min-height: 140px;

}

.portfolio-area {

  padding-top: 77px;

  padding-bottom: 87px;

}

.portfolio {

  width: 100%;

  min-height: 332px;

  margin-top: 50px;

  margin: auto;

  margin-top: 50px;

}

.button-iso {

  font-family: open_sansbold;

  font-size: 10px;

  padding: 9px 15px 9px 15px;

  background: #eff3f3;

  border: none;

  border-radius: 3px;

  color: #2c3e50;

  margin-right: 3px;

  margin-left: 3px;

}

.count-area {

  padding-top: 74px;

  padding-bottom: 90px;

}

.work-done {

  text-align: center;

  min-width: 133px;

  padding-top: 30px;

  padding-bottom: 35px;

  float: left;

  min-height: 252px;

  margin-top: 10px;

}

.work-done-title {

  font-family: open_sanssemibold;

  font-size: 11px;

  padding-top: 6px;

  padding-bottom: 28px;

  color: #fff;

}

.work-image {

  width: 42%;

  display: block;

  margin: auto;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 100px;

}



.left-team {

  background: url(../images/team-bg-left.png) no-repeat 38px 0px;

  width: 554px;

  height: 238px;

  margin: auto;

  margin-right: none;

  margin-top: none;

  border-right: none;

  float: none;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat 40px 0px;

  width: 554px;

  height: 238px;

  margin: auto;

  border-left: none;

  margin-left: 0;

  float: none;

  margin-bottom: 40px;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat 55px 0px;

  width: 564px;

  height: 238px;

  margin: auto;

  border-left: none;

  margin-left: 0;

  float: none;

  margin-bottom: 1px;

}

.point-right {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  right: 18px;

  top: 19px;

  z-index: 1;

}

.point-left {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  left: 29px;

  top: 19px;

}

.morepeople {

  font-family: ralewaybold;

  background: #ff5c26;

  padding: 13px 20px 11px 20px;

  border-radius: 26px;

  color: #fff;

  text-align: center;

  width: 158px;

  margin: auto;

  display: block;

  font-size: 12px;

  margin-top: 50px;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 59px;

}

.blog-area {

  padding-top: 85px;

  padding-bottom: 80px;

}

.accr-left {

  max-width: 50%;

  float: left;

}

.accr-right {

  max-width: 50%;

  min-height: 100px;

  padding: 25px 40px 20px 40px;

  float: left;

  max-height: 294px;

}



.refresh {

  width: 35px;

  display: block;

  margin-top: -23px;

  margin-left: 275px;

}

.email {

  color: #fff;

  font-size: 12px;

}

.info-desc{

    font-size: 12px;

}



}





/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) and (max-width : 767px){
#map {
height: 400px;
width: auto;
}
.nav>li>a {

  position: relative;

  display: block;

  padding: 10px 3px;

}

.navbar-default .navbar-nav>li>a {

  font-family: open_sansbold;

  color: #fff;

  margin-top: 0;

  font-size: 11px;

}

.welcome-description {

  font-family: ralewayextrabold;

  font-size: 25px;

  text-transform: uppercase;

  color: #fff;

  line-height: 1.1em;

  letter-spacing: 2px;

  margin-top: 20px;

  margin: auto;

  text-align: center;

}

.welcome-left-section {

  padding-top: 54px;

  padding-left: 40px;

}

.welcome-right-section {

 margin-top: 30px;

  padding-right: none;

}

.header-area {

  padding-bottom: 40px;

  padding-top: 44px;

}

.love-sign {

  color: #fdbe00;

  font-size: 30px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 80px;

}

.quality-text {

  font-family: ralewayregular;

  font-size: 14px;

  color: #888a8a;

  width: 82%;

  text-align: center;

  margin: auto;

  margin-bottom: 24px;

}

.quality-area {

  padding-top: 60px;

  padding-bottom: 50px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 52px;

}

.we-do-area {

  padding-top: 60px;

}

.we-do-heading {

  font-family: ralewayextrabold;

  font-size: 30px;

  text-align: center;

  color: #fff;

  padding-bottom: 9px;

}

.we-do-text {

  max-width: 800px;

  display: block;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  text-align: center;

  margin: auto;

  line-height: 1.6em;

  padding-bottom: 22px;

}

.we-do-content {

  min-height: 1841px;

  background: url(../images/shape.png) no-repeat 70px 0px;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 548px;

}

.we-do-first-right {

  margin-top: 75px;

  width: 327px;

  margin-left: 33px;

}

.title-image-odd {

  display: none;

}

.title-image-even {

  display: none;

}

.we-do-content {

  min-height: 1341px;

  background: none;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 608px;

  text-align: center;

}

.we-do-first-left {

  min-height: 310px;

  margin-top: 60px;

}

.we-do-second-left {

  margin-top: 35px;

  width: 315px;

  margin-left: -20px;

}

.we-do-second-right {

  min-height: 310px;

  margin-top: 13px;

  padding-left: 12px;

}

.we-do-content-heading {

  display: block;

  max-width: 425px;

  font-family: ralewaysemibold;

  font-size: 14px;

  padding-top: 8px;

}

.we-do-content-paragraph {

  display: block;

  max-width: 530px;

  margin: auto;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  padding-top: 1px;

  padding-bottom: 15px;

  margin-bottom: 24px;

}

.read-more {

  margin: auto;

  font-family: ralewaysemibold;

  font-size: 12px;

  padding: 5px 15px 5px 15px;

  background: #fff;

  color: #000;

  border-radius: 2px;

  margin-top: -15px;

  display: block;

  width: 100px;

}

.we-do-third-right {

  margin-top: 27px;

}



.we-do-third-left {

  min-height: 310px;

  margin-top: 51px;

}

.we-do-panels {

  margin-top: 44px;

  width: 100%;

  position: relative;

  overflow: hidden;

}



.how-we-do-area {

  padding-top: 80px;

  padding-bottom: 69px;

}

.min-height{

    min-height: 300px;

}

.min-height {

  min-height: 140px;

}

.portfolio-area {

  padding-top: 77px;

  padding-bottom: 87px;

}

.portfolio {

  width: 100%;

  min-height: 332px;

  margin-top: 50px;

  margin: auto;

  margin-top: 18px;

}

.button-iso {

  font-family: open_sansbold;

  font-size: 10px;

  padding: 9px 15px 9px 15px;

  background: #eff3f3;

  border: none;

  border-radius: 3px;

  color: #2c3e50;

  margin-right: 3px;

  margin-left: 3px;

  margin-bottom: 10px;

}

.count-area {

  padding-top: 74px;

  padding-bottom: 90px;

}

.work-done {

  text-align: center;

  min-width: 216px;

  padding-top: 30px;

  padding-bottom: 35px;

  float: left;

  min-height: 255px;

  margin-top: 10px;

}

.work-done-title {

  font-family: open_sanssemibold;

  font-size: 11px;

  padding-top: 6px;

  padding-bottom: 28px;

  color: #fff;

}

.work-image {

  width: 42%;

  display: block;

  margin: auto;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 100px;

}



.left-team {

  background: url(../images/team-bg-left.png) no-repeat 38px 0px;

  width: 436px;

  height: 238px;

  margin: auto;

  margin-right: none;

  margin-top: none;

  border-right: none;

  float: none;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat 40px 0px;

  width: 554px;

  height: 238px;

  margin: auto;

  border-left: none;

  margin-left: 0;

  float: none;

  margin-bottom: 40px;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat -19px 0px;

  width: 436px;

  height: 238px;

  border-left: none;

  margin-left: 0;

  float: none;

  margin-bottom: 1px;

  margin: auto;

}

.point-right {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  right: 18px;

  top: 19px;

  z-index: 1;

  display: none;

}

.point-left {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  left: 29px;

  top: 19px;

  display: none;

}

.morepeople {

  font-family: ralewaybold;

  background: #ff5c26;

  padding: 13px 20px 11px 20px;

  border-radius: 26px;

  color: #fff;

  text-align: center;

  width: 158px;

  margin: auto;

  display: block;

  font-size: 12px;

  margin-top: 50px;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 59px;

}

.blog-area {

  padding-top: 85px;

  padding-bottom: 80px;

}

.accr-left {

  max-width: 100%;

  float: none;

}

.accr-right {

  max-width: 100%;

  min-height: 100px;

  padding: 25px 40px 40px 40px;

  float: none;

  

}



.refresh {

  width: 35px;

  display: block;

  margin-top: -23px;

  margin-left: 184px;

}

.email {

  color: #fff;

  font-size: 12px;

}

.info-desc{

    font-size: 12px;

}

.navbar-header {

  width: 73px;

  right: 8px;

  margin-bottom: 22px;

  margin-top: -1px;

  position: absolute;

}

.navbar-toggle {

  position: relative;

  float: right;

  padding: 9px 20px;

  margin-top: 8px;

  margin-right: 15px;

  margin-bottom: 8px;

  background-color: transparent;

  border: 1px solid transparent;

  border-radius: 0px;

  width: 65px;

  display: block;

  margin: initial;

  height: 50px;

  z-index: 5;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #fff;

}

.navbar-default .navbar-toggle {

  border-color: #000;

  background-color: #000;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

  border-color: #000;

  background-color: #000;

}

.navbar-brand {

  position: absolute;

  margin-left: 0px !important;

  display: block;

  top: -9px;

  left: -26px;

}

.header-only {

  height: 50px;

  position: fixed;

  z-index: 999999;

}

.navbar {

  text-align: center;

  position: relative;

  padding-left: 0; 

  padding-right:0; 

}

.navbar-collapse {

  max-height: 500px;

  padding-right: 15px;

  padding-left: 15px;

  overflow-x: visible;

  border-top: 1px solid transparent;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  -webkit-overflow-scrolling: touch;

}

.navbar-collapse {

  max-width: 450px;

  max-height: 500px;

  padding-right: 15px;

  padding-left: 15px;

  overflow-x: visible;

  border-top: 5px solid #000;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  -webkit-overflow-scrolling: touch;

  text-align: center;

  margin: auto;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border-color: #000;

  background: #000;

}

.welcome-left-section {

  padding-top: 0;

  padding-left: 0;

  text-align: center;

}

.go {

  width: 30px;

  display: block;

  margin: auto;

  color: #fff;

  margin-top: 38px;

}

.part {

  width: 50%;

  float: left;

  margin: auto;

}

.quality .part:last-child{

  width: 50%;

  float: left;

  margin-left: 25%;

  text-align: center;

}

.quality .part:last-child img {

  width: 73px;

  display: block;

  margin: auto;

 

}

.we-do-image{

    display: none;

}

.we-do-link {

  padding: 5px 10px 5px 10px;

  border-radius: 2px;

  display: block;

  width: 205px;

  font-family: ralewaybold;

  font-size: 15px;

  text-align: center;

  margin: auto;

  margin-bottom: 20px;

}

.we-do-content-heading {

  display: block;

  max-width: 425px;

  margin: auto;

  font-family: ralewaysemibold;

  font-size: 18px;

  padding-top: 8px;

  margin-bottom: 20px;

}

.how-do-content{

    text-align: center;

}

.step1-text-left-title {

  position: relative;

  max-width: 240px;

  font-family: open_sanssemibold;

  display: block;

  font-size: 24px;

  display: block;

  float: none;

  margin-top: 50px;

  right: 0;

  margin: auto;

}

.number1 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.number2 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-left: 0;

  margin-top: -118px;

  margin-top: none;

  text-align: center;

}

.number3 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.number4 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

  margin: auto;

}

.number5 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.step-text-right {

  font-family: ralewaylight;

  max-width: 294px;

  display: block;

   position: relative;  

   left: 0;

  text-align: center;

  color: #777777;

  line-height: 1.5;

  top: 8px;

  margin: auto;

}

.step1-text-right-title {

  position: relative;

  max-width: 240px;

  font-family: open_sanssemibold;

  display: block;

  font-size: 24px;

  display: block;

  float: none;

  left: 0;

  margin: auto;

  margin-top: -175px;

}

.step-text-left {

  font-family: ralewaylight;

  max-width: 295px;

  display: block;

   position: relative; 

   right: 0; 

  text-align: center;

  color: #777777;

  line-height: 1.5;

  top: 8px;

  margin: auto;

  margin-top: 170px;

}



.work-part1 {

  position: relative;

  min-height: 196px;

}

.mar-top{

margin-top: -273px;

}

.port-image {

  width: 33%;

  margin-right: 0;

  margin-bottom: 0;

  float: left;

}

.port-middle{

    width: 99.99%;

    margin: auto;

}

.team-people-left-float-right {

  width: 221px;

  float: right;

  padding-left: 0px;

  padding-top: 23px;

}

.team-people-left {

  width: 295px;

  float: left;

  padding-left: 8px;

  padding-top: 23px;

}

.price-panel-left{

    clear: both;

}

.price-panel-center{

    clear: both;

}

.price-panel-right{

    clear: both;

}

.price-upper-left {

  text-align: center;

  background: #5399c7;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 301px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-upper-middle {

  text-align: center;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 301px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-upper-right {

  text-align: center;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 301px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-lower-left {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 301px;

  background: #fff;

float: none;

  margin: auto;

}

.price-lower-middle {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 301px;

  background: #fff;

float: none;

  margin: auto;

}



.price-lower-right {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 301px;

  background: #fff;

float: none;

  margin: auto;

}

.price-heading-text {

  max-width: 800px;

  display: block;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  text-align: center;

  margin: auto;

  line-height: 1.6em;

  padding-bottom: 0; 

}

.works-count {

  width: 97%;

  margin: auto;

  margin-top: 20px;

}

.open {

  max-height: 1000px;

}

.sl1 {

  font-family: ralewaysemibold;

  font-size: 9px;

  padding: 3px 0px 3px 0px;

  background: #fff;

  width: 57px;

  border-radius: 4px;

  margin-right: 30px;

}

.sl2 {

  font-family: ralewaylight;

  font-size: 7px;

}

.sl3 {

  font-family: ralewaylight;

  font-size: 8px;

}

.sl4 {

  font-family: ralewaylight;

  font-size: 9px;

}

.load-btn {

  width: 50%;

  float: left;

  text-align: left;

  height: 100px;

  font-family: open_sansbold;

  border: none;

  font-size: 15px;

  color: #fff;

  padding-top: 39px;

}

.info-panel {

  width: 50%;

  text-align: center;

  float: left;

  color: #fff;

  margin-bottom: 20px;

}

.contact-info .info-panel:last-child{

    float: none;

    margin: auto;

}

.contact-info .info-panel:last-child img{

      width: 29px;

  display: block;

  margin: auto;

  margin-left: 0px;

}

.social-link {

  margin-left: 25px;

  margin-right: 25px;

  width: 11px;

  height: 11px;

  float: left;

}

.footer-text {

  font-family: ralewaybold;

  font-size: 14px;

  color: #fff;

}



.navbar-nav {

  margin: 0 -15px;

  margin-top: -1px;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border-color: #000;

  background: #000;

  margin-top: -1px;

}

.navbar-default .navbar-nav>li>a {

  font-family: open_sansbold;

  color: #fff;

  margin-top: 0px;

  font-size: 12px;

  border-bottom: 1.5px solid #fff;

}

.navbar-default .navbar-brand {

  font-family: ralewayextrabold;

  font-size: 36px;

  margin-top: -1px;

  color: #777;

  width: 90px;

  height: 120px;

  line-height: .9em;

  text-align: center;

  color: #e74c3c;

  position: absolute;

  z-index: 5;

}



}



/* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 300px) and (max-width : 479px){
  #map {
height: 400px;
width: auto;
}

.navbar-default .navbar-brand {

  font-family: ralewayextrabold;

  font-size: 36px;

  margin-top: -1px;

  color: #777;

  width: 90px;

  height: 120px;

  line-height: .9em;

  text-align: center;

  color: #e74c3c;

  position: absolute;

  z-index: 5;

}

.nav>li>a {

  position: relative;

  display: block;

  padding: 10px 3px;

}

.navbar-default .navbar-nav>li>a {

  font-family: open_sansbold;

  color: #fff;

  margin-top: 0;

  font-size: 11px;

}

.welcome-description {

  font-family: ralewayextrabold;

  font-size: 25px;

  text-transform: uppercase;

  color: #fff;

  line-height: 1.1em;

  letter-spacing: 2px;

  margin-top: 20px;

  margin: auto;

  text-align: center;

}

.welcome-left-section {

  padding-top: 54px;

  padding-left: 40px;

}

.welcome-right-section {

 margin-top: 30px;

  padding-right: none;

}

.header-area {

  padding-bottom: 40px;

  padding-top: 44px;

}

.love-sign {

  color: #fdbe00;

  font-size: 30px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 80px;

}

.quality-text {

  font-family: ralewayregular;

  font-size: 14px;

  color: #888a8a;

  width: 82%;

  text-align: center;

  margin: auto;

  margin-bottom: 24px;

}

.quality-area {

  padding-top: 60px;

  padding-bottom: 50px;

}

.quality-heading {

  font-family: ralewayregular;

  font-size: 15px;

  color: #555555;

  text-align: center;

  display: block;

  margin: auto;

  max-width: 661px;

  letter-spacing: 1px;

  padding-bottom: 52px;

}

.we-do-area {

  padding-top: 60px;

}

.we-do-heading {

  font-family: ralewayextrabold;

  font-size: 30px;

  text-align: center;

  color: #fff;

  padding-bottom: 9px;

}

.we-do-text {

  max-width: 800px;

  display: block;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  text-align: center;

  margin: auto;

  line-height: 1.6em;

  padding-bottom: 22px;

}

.we-do-content {

  min-height: 1841px;

  background: url(../images/shape.png) no-repeat 70px 0px;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 548px;

}

.we-do-first-right {

  margin-top: 75px;

  width: 206px;

  margin-left: 33px;

}

.title-image-odd {

  display: none;

}

.title-image-even {

  display: none;

}

.we-do-content {

  min-height: 1341px;

  background: none;

  max-width: 1140px;

  margin: auto;

  margin-top: 20px;

  background-size: 608px;

  text-align: center;

}

.we-do-first-left {

  min-height: 310px;

  margin-top: 60px;

}

.we-do-second-left {

  margin-top: 35px;

  width: 279px;

  margin-left: -20px;

}

.we-do-second-right {

  min-height: 310px;

  margin-top: 13px;

  padding-left: 12px;

}

.we-do-content-heading {

  display: block;

  max-width: 425px;

  font-family: ralewaysemibold;

  font-size: 14px;

  padding-top: 8px;

}

.we-do-content-paragraph {

  display: block;

  max-width: 530px;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  padding-top: 1px;

  padding-bottom: 15px;

  margin-bottom: 24px;

}

.read-more {

  margin: auto;

  font-family: ralewaysemibold;

  font-size: 12px;

  padding: 5px 15px 5px 15px;

  background: #fff;

  color: #000;

  border-radius: 2px;

  margin-top: -15px;

  display: block;

  width: 100px;

}

.we-do-third-right {

  margin-top: 27px;

}



.we-do-third-left {

  min-height: 310px;

  margin-top: 51px;

}

.we-do-panels {

  margin-top: 44px;

  width: 100%;

  position: relative;

  overflow: hidden;

}

.navbar-nav {

  margin: 0 -15px;

  margin-top: -1px;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border-color: #000;

  background: #000;

  margin-top: -1px;

}

.how-we-do-area {

  padding-top: 80px;

  padding-bottom: 69px;

}

.min-height{

    min-height: 300px;

}

.min-height {

  min-height: 140px;

}

.portfolio-area {

  padding-top: 77px;

  padding-bottom: 87px;

}

.portfolio {

  width: 100%;

  min-height: 332px;

  margin-top: 50px;

  margin: auto;

  margin-top: 18px;

}

.button-iso {

  font-family: open_sansbold;

  font-size: 10px;

  padding: 9px 15px 9px 15px;

  background: #eff3f3;

  border: none;

  border-radius: 3px;

  color: #2c3e50;

  margin-right: 3px;

  margin-left: 3px;

  margin-bottom: 10px;

}

.count-area {

  padding-top: 74px;

  padding-bottom: 90px;

}

.work-done {

  text-align: center;

  min-width: 216px;

  padding-top: 30px;

  padding-bottom: 35px;

  float: none;

  min-height: 255px;

  margin-top: 10px;

}

.work-done-title {

  font-family: open_sanssemibold;

  font-size: 11px;

  padding-top: 6px;

  padding-bottom: 28px;

  color: #fff;

}

.work-image {

  width: 42%;

  display: block;

  margin: auto;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 100px;

}



.left-team {

  background: url(../images/team-bg-left.png) no-repeat 38px 0px;

  width: 280px;

  height: 238px;

  margin: auto;

  margin-right: none;

  margin-top: none;

  border-right: none;

  float: none;

  text-align: center;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat 40px 0px;

  width: 554px;

  height: 238px;

  margin: auto;

  border-left: none;

  margin-left: 0;

  float: none;

  margin-bottom: 40px;

}

.right-team {

  background: url(../images/team-bg.png) no-repeat -19px 0px;

  width: 237px;

  height: 238px;

  margin: auto;

  border-left: none;

  margin-left: -12px;

  float: none;

  margin-bottom: 1px;

  text-align: center;

}

.point-right {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  right: 18px;

  top: 19px;

  z-index: 1;

  display: none;

}

.point-left {

  background: url(../images/point.png) no-repeat;

  width: 23px;

  height: 24px;

  position: absolute;

  left: 29px;

  top: 19px;

  display: none;

}

.morepeople {

  font-family: ralewaybold;

  background: #ff5c26;

  padding: 13px 20px 11px 20px;

  border-radius: 26px;

  color: #fff;

  text-align: center;

  width: 158px;

  margin: auto;

  display: block;

  font-size: 12px;

  margin-top: 50px;

}

.talent-area {

  padding-top: 81px;

  padding-bottom: 59px;

}

.blog-area {

  padding-top: 85px;

  padding-bottom: 80px;

}

.accr-left {

  max-width: 100%;

  float: none;

}

.accr-right {

  max-width: 100%;

  min-height: 100px;

  padding: 25px 40px 40px 40px;

  float: none;

  

}



.refresh {

  width: 35px;

  display: block;

  margin-top: -23px;

  margin-left: 232px;

}

.email {

  color: #fff;

  font-size: 12px;

}

.info-desc{

    font-size: 12px;

}

.navbar-header {

  width: 73px;

  right: 8px;

  margin-bottom: 22px;

  margin-top: -1px;

  position: absolute;

}

.navbar-toggle {

  position: relative;

  float: right;

  padding: 9px 20px;

  margin-top: 8px;

  margin-right: 15px;

  margin-bottom: 8px;

  background-color: transparent;

  border: 1px solid transparent;

  border-radius: 0px;

  width: 65px;

  display: block;

  margin: initial;

  height: 50px;

}

.navbar-default .navbar-toggle .icon-bar {

  background-color: #fff;

}

.navbar-default .navbar-toggle {

  border-color: #000;

  background-color: #000;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

  border-color: #000;

  background-color: #000;

}

.navbar-toggle {

  position: relative;

  float: right;

  padding: 9px 20px;

  margin-top: 8px;

  margin-right: 15px;

  margin-bottom: 8px;

  background-color: transparent;

  border: 1px solid transparent;

  border-radius: 0px;

  width: 65px;

  display: block;

  margin: initial;

  height: 50px;

  z-index: 5;

}

.navbar-brand {

  position: absolute;

  margin-left: 0px !important;

  display: block;

  top: -9px;

  left: -26px;

}

.header-only {

  height: 50px;

  position: fixed;

  z-index: 999999;

}

.navbar {

  text-align: center;

  position: relative;

  padding-left: 0; 

  padding-right:0; 

}

.navbar-collapse {

  max-height: 500px;

  padding-right: 15px;

  padding-left: 15px;

  overflow-x: visible;

  border-top: 1px solid transparent;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  -webkit-overflow-scrolling: touch;

}

.navbar-collapse {

  max-width: 250px;

  max-height: 500px;

  padding-right: 15px;

  padding-left: 15px;

  overflow-x: visible;

  border-top: 5px solid #000;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  -webkit-overflow-scrolling: touch;

  text-align: center;

  margin: auto;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border-color: #000;

  background: #000;

}

.welcome-left-section {

  padding-top: 0;

  padding-left: 0;

  text-align: center;

}

.navbar-default .navbar-nav>li>a {

  font-family: open_sansbold;

  color: #fff;

  margin-top: 0px;

  font-size: 12px;

  border-bottom: 1.5px solid #fff;

}

.go {

  width: 30px;

  display: block;

  margin: auto;

  color: #fff;

  margin-top: 38px;

}

.part {

  width: 90%;

  float: none;

  margin: auto;

}

{

  width: 90%;

  float: none;

  margin: auto;

}

.quality .part:last-child img {

  width: 73px;

  display: block;

  margin: auto;

}

.we-do-image{

    display: none;

}

.we-do-link {

  padding: 5px 10px 5px 10px;

  border-radius: 2px;

  display: block;

  width: 205px;

  font-family: ralewaybold;

  font-size: 15px;

  text-align: center;

  margin: auto;

  margin-bottom: 20px;

}

.we-do-content-heading {

  display: block;

  max-width: 425px;

  font-family: ralewaysemibold;

  font-size: 18px;

  padding-top: 8px;

  margin-bottom: 20px;

}

.how-do-content{

    text-align: center;

}

.step1-text-left-title {

  position: relative;

  max-width: 240px;

  font-family: open_sanssemibold;

  display: block;

  font-size: 24px;

  display: block;

  float: none;

  margin-top: 50px;

  right: 0;

  margin: auto;

}

.number1 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.number2 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-left: 0;

  margin-top: -118px;

  margin-top: none;

  text-align: center;

}

.number3 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.number4 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

  margin: auto;

}

.number5 {

  font-family: open_sanssemibold_italic;

  font-size: 60px;

  letter-spacing: -2px;

  display: block;

  float: none;

  margin-right: 0;

  margin-top: none;

  text-align: center;

}

.step-text-right {

  font-family: ralewaylight;

  max-width: 294px;

  display: block;

   position: relative;  

   left: 0;

  text-align: center;

  color: #777777;

  line-height: 1.5;

  top: 8px;

  margin: auto;

}

.step1-text-right-title {

  position: relative;

  max-width: 240px;

  font-family: open_sanssemibold;

  display: block;

  font-size: 24px;

  display: block;

  float: none;

  left: 0;

  margin: auto;

  margin-top: -175px;

}

.step-text-left {

  font-family: ralewaylight;

  max-width: 295px;

  display: block;

   position: relative; 

   right: 0; 

  text-align: center;

  color: #777777;

  line-height: 1.5;

  top: 8px;

  margin: auto;

  margin-top: 170px;

}



.work-part1 {

  position: relative;

  min-height: 196px;

}

.mar-top{

margin-top: -273px;

}

.port-image {

  width: 33%;

  margin-right: 0;

  margin-bottom: 0;

  float: left;

}

.port-middle{

    width: 99.99%;

    margin: auto;

}

.team-people-left-float-right {

  width: 221px;

  float: right;

  padding-left: 11px;

  padding-top: 23px;

}

.team-people-left {

  width: 219px;

  float: left;

  padding-left: 0px;

  padding-top: 23px;

}

.price-panel-left{

    clear: both;

}

.price-panel-center{

    clear: both;

}

.price-panel-right{

    clear: both;

}

.price-upper-left {

  text-align: center;

  background: #5399c7;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 237px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-upper-middle {

  text-align: center;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 237px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-upper-right {

  text-align: center;

  min-height: 325px;

  color: #fff;

  padding: 50px 45px 30px 45px;

  max-width: 237px;

  float: none;

  margin: auto;

  margin-top: 60px;

}

.price-lower-left {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 237px;

  background: #fff;

  float: none;

  margin: auto;

}

.price-lower-middle {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 237px;

  background: #fff;

float: none;

  margin: auto;

}



.price-lower-right {

  text-align: center;

  background: #5399c7;

  min-height: 390px;

  color: #000;

  padding: 50px 45px 35px 45px;

  width: 237px;

  background: #fff;

float: none;

  margin: auto;

}

.price-heading-text {

  max-width: 800px;

  display: block;

  font-family: ralewaylight;

  font-size: 16px;

  color: #879cb0;

  text-align: center;

  margin: auto;

  line-height: 1.6em;

  padding-bottom: 0; 

}

.works-count {

  width: 97%;

  margin: auto;

  margin-top: 20px;

}

.open {

  max-height: 1000px;

}

.sl1 {

  font-family: ralewaysemibold;

  font-size: 9px;

  padding: 3px 0px 3px 0px;

  background: #fff;

  width: 57px;

  border-radius: 4px;

  margin-right: 30px;

}

.sl2 {

  font-family: ralewaylight;

  font-size: 7px;

}

.sl3 {

  font-family: ralewaylight;

  font-size: 8px;

}

.sl4 {

  font-family: ralewaylight;

  font-size: 9px;

}

.load-btn {

  width: 100%;

  float: left;

  text-align: center;

  height: 100px;

  font-family: open_sansbold;

  border: none;

  font-size: 15px;

  color: #fff;

  padding-top: 39px;

  margin-top: 20px;

}

.info-panel {

  width: 50%;

  text-align: center;

  float: left;

  color: #fff;

  margin-bottom: 20px;

}

.contact-info .info-panel:last-child{

    float: none;

    margin: auto;

}

.contact-info .info-panel:last-child img{

      width: 29px;

  display: block;

  margin: auto;

  margin-left: 0px;

}

.social-link {

  margin-left: 25px;

  margin-right: 25px;

  width: 11px;

  height: 11px;

  float: left;

  margin-top: 16px;

}

.footer-text {

  font-family: ralewaybold;

  font-size: 14px;

  color: #fff;

}

.team-people-left-float-left img {

  width: 58px;

  margin-left: -16px;

}

.team-people-right img {

  width: 58px;

  position: absolute;

  right: -58px;

  top: 2px;

}

.subs-form {

  width: 100%;

  float: none;

  text-align: center;

  height: 100px;

  font-family: open_sansbold;

  font-size: 14px;

  border: 8px solid #16a085;

  background: transparent;

  color: #16a085;

}

.testi-single-image {

  width: 86px;

  height: 100px;

  float: none;

  text-align: center;

}

.testimonial-image {

  margin: auto;

  max-width: 700px;

  margin-top: 34px;

  display: block;

  text-align: center;

}

.footer-social {

  max-width: 630px;

  margin: auto;

  text-align: center;

  margin-bottom: 0px;

}

.social-area {

  padding-top: 4px;

  padding-bottom: 50px;

}

.footer-social {

  max-width: 84%;

  margin: auto;

}

.social-link {

  margin-left: 10px;

  margin-right: 10px;

  width: 11px;

  height: 11px;

  float: left;

  margin-top: 16px;

}

.navbar-default .navbar-nav>li:nth-child(odd) {

  background: #666;

}

.navbar-default .navbar-nav>li:nth-child(even) {

  background: #271f1f;

}



}
/*-- media query for slider --*/
@media (max-width: 991px){
	.slides_container a{
		width: 700px;
		}
}
@media (max-width: 768px){
	.slides_container a{
		width: 650px;
		}
	.welcome-row{
		height: auto;
		}
}
@media (max-width: 581px){
	.slides_container a{
		width: 450px;
		}
}
@media (max-width: 480px){
	.slides_container a{
		width: 320px;
		}
}