
/* ------------- Common Style ---------- */
/*.clearfix{
	overflow: hidden;
}*/
.text-indent{text-indent: -999999px;}
.selectnav {display:none;}
#nav {display:block}
.fix {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:10px;}
.alignright {float:right;margin-left:10px;}
.aligncenter {display:block;margin:0 auto}
a, a:active, a:focus, a:active {text-decoration:none !important}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px;}
.column {width:980px; margin:45px auto;display:block;transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;padding:20px;background:#fff;}
.mainmenu #nav li ul {transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-webkit-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;}
ul {margin:0;padding:0;list-style:none}
li{list-style: none;}
.full-width{width: 100%;margin: 0 auto;}
.navbar-default {
background-color: transparent;
border-color: transparent;
}
.navbar {
position: relative;
padding-left: 60px;
padding-right: 85px;
}
.navbar-default .navbar-brand {
font-family: ralewayextrabold;
font-size: 36px;
margin-top: 5px;
color: #777;
width: 130px;
height: 129px;
line-height: .9em;
text-align: center;
color: #e74c3c;
}
 
.navbar-brand {
position: absolute;
left: 50%;
margin-left: -50px !important;  /* 50% of your logo width */
display: block;
}
.sub-logo {
display: block;
font-size: 14px;
margin-top: -6px;
letter-spacing: -1px;
}
.navbar-default .navbar-nav>li>a {
font-family: open_sansextrabold;
color: #fff;
margin-top: 65px;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.logo{
    height: auto;
	background: url(../images/logo-yellow-black.png) no-repeat;
}
/* ------------- Header Style ---------- */
.header-area {
	padding-top: 115px;
}
.header-background {
    background-image: url(../images/header-background.jpg);
}
.header-logo-center-top{

}
.welcome-row {
  padding-top: 3px;
  background: url(../images/top-header.png) no-repeat;
  background-position: -58px 45px;
  height: 493px;
  background-size: 100%;
}
.welcome-text {
  font-family: ralewaythin;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 19px;
}
.span-strong{
	font-family: ralewayextrabold;
	font-size: 16px;
	color: #fff;
}
.welcome-left-section{
	padding-top: 54px;
}
.welcome-description {
  font-family: ralewayregular;
  font-size: 40px;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 2px;
  margin-top: 20px;
  max-width: 590px;
  text-align: center;
  margin: auto;
}

.welcome-date {
  font-family: ralewayregular;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  background-color: rgba(54, 25, 25, .5);
  line-height: 1.5em;
  letter-spacing: 2px;
  margin-top: 20px;
  max-width: 590px;
  text-align: center;
  margin: auto;
}


.love-sign {
  color: #e74c3c;
  font-size: 34px;
}
.stop-sign{
	color: #fdbe00;
	font-size: 15px;
	display: none;
}
.more{
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-family: ralewayregular;
	padding: 7px 25px 7px 25px;
	border: 2px solid #fff;
	border-radius: 25px;
	width: 155px;
	margin: auto;
	display: block; 
	margin-top: 20px;
    background-color: #fff;
}
.more:hover{
	color: #fff;
}
.go{
	width: 30px;
	display: block;
	margin: auto;
	color: #fff;
}
.go-text{
	font-family: ralewaybold;
	text-align: center;
	font-size: 16px;
}
.go:hover,.go:active,.go:visited,.go:focus{
	color: #fff;
}
.down-arrow {
color: #fff;
text-align: center;
font-size: 38px;
display: block;
margin: auto;
margin-top: -17px;
width: 30px;
}
.welcome-right-section{
	
}

/* ------------- Quality Style ---------- */

.quality-area{
	padding-top: 65px;
	padding-bottom:  90px;
}
.quality-heading {
font-family: ralewayregular;
font-size: 20px;
color: #555555;
text-align: center;
display: block;
margin: auto;
max-width: 910px;
letter-spacing: 1px;
padding-bottom: 80px;
}
.quality{
	text-align: center;
}
.quality-heading-text {
	padding-top: 25px;
	font-family: ralewaysemibold;
	font-size: 16px;
}
.quality-text-promo{
font-family: ralewaybold;
letter-spacing: 0;
line-height: 1.5em;
padding-bottom: 75px;
}
.quality-text{
	font-family: ralewayregular;
	font-size: 14px;
	color: #888a8a;
}

/* ------------- We-do Style ---------- */
.we-do-area{
	padding-top: 100px;
}
.we-do-heading{
	font-family: ralewayextrabold;
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding-bottom: 25px;
}
.we-do-text{
	max-width: 800px;
	display: block;
	font-family: ralewaylight;
	font-size: 16px;
	color: #dfedcc;
	text-align: center;
	margin: auto;
	line-height: 1.6em;
	padding-bottom: 50px;
}
.we-do-text2{
	max-width: 800px;
	display: block;
	font-family: ralewaylight;
	font-size: 16px;
	color: #666;
	text-align: center;
	margin: auto;
	line-height: 1.6em;
	padding-bottom: 50px;
}
.roket{
	width: 103px;
	height: 148px;
	margin: auto;
	background: url(../images/roket2.png) no-repeat;
}
.we-do-content {
min-height: 1841px;
background: url(../images/shape.png) no-repeat 113px 0px;
max-width: 1140px;
margin: auto;
margin-top: 20px;
}
.we-do-first-left{
	min-height: 310px;
	margin-top: 138px;
}
.we-do-second-right {
min-height: 310px;
margin-top: 180px;
padding-left: 50px;
}
.we-do-third-left{
	min-height: 310px;
	margin-top: 200px;
}
.we-do-link {
padding: 5px 10px 5px 10px;
border-radius: 2px;
display: block;
width: 205px;
font-family: ralewaybold;
font-size: 15px;
text-align: center;
}
.we-do-link:hover,.we-do-link:visited,.we-do-link:focus,.we-do-link:active {
color: #fff;
}
.we-do-content-heading{
	display: block;
	max-width: 425px;
	font-family: ralewaysemibold;
	font-size: 21px;
	padding-top: 30px;
}
.we-do-content-paragraph {
display: block;
max-width: 530px;
font-family: ralewaylight;
font-size: 16px;
color: #879cb0;
padding-top: 15px;
padding-bottom: 15px;
}
.read-more {
  font-family: ralewaysemibold;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
  color: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
}
.read-more:hover,.read-more:active,.read-more:visited,.read-more:focus{
	color: #fff;
}
.we-do-first-right{
	margin-top: 115px;
}
.we-do-second-left{
	margin-top: 88px;	
}
.we-do-third-right{
	margin-top: 159px;
}
.title-image-odd{
	position: absolute;
	top: 94px;
	left: 70px;
}
.title-image-even{
	position: absolute;
	top: 94px;
	right: 70px;
}
.we-do-panels {
margin-top: 378px;
width: 100%;
position: relative;
overflow: hidden;
}
.we-do-last-panel-one{
	position: relative;
	max-width: 680px;
	margin: auto;
	z-index: 1;
}
.we-do-last-panel-two {
max-width: 680px;
min-height: 345px;
position: absolute;
margin-top: -227px;
}
.we-do-last-panel-three {
max-width: 680px;
min-height: 345px;
position: absolute;
right: 0px;
margin-top: -227px;
}
.we-do-last-panel-one:hover{
	z-index: 2;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
        -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.we-do-last-panel-two:hover{
	z-index: 2;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
        -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.we-do-last-panel-three:hover{
	z-index: 3;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
        -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/* ------------- How-we-do Style ---------- */
.how-we-do-area{
	padding-top: 130px;
	padding-bottom: 150px;
}
.how-we-do-heading{
	font-family: ralewayextrabold;
	font-size: 30px;
	text-align: center;
	color: #555555;
	padding-bottom: 25px;
}
.image-margin-left img {
margin-left: 16px;
}
.image-margin-right img {
margin-left: -5px;
}
.icon-bg{
	margin-bottom: 10px;
}
.step1-text-left-title {
position: absolute;
max-width: 260px;
font-family: open_sanssemibold;
display: block;
font-size: 24px;
display: block;
float: left;
margin-top: 50px;
right: 30px;
}
.step1-text-right-title {
position: absolute;
max-width: 240px;
font-family: open_sanssemibold;
display: block;
font-size: 24px;
display: block;
float: left;
margin-top: 50px;
left: 30px;
}
.step-text-left{
	font-family: ralewaylight;
	max-width: 295px;
	display: block;
	position: absolute;
	right: 30px;
	text-align: justify;
	color: #777777;
	line-height: 1.5;
	top: 8px;

}
.step-text-right {
font-family: ralewaylight;
max-width: 295px;
display: block;
position: absolute;
left: 30px;
text-align: justify;
color: #777777;
line-height: 1.5;
top: 8px;
}
.number1 {
font-family: open_sanssemibold_italic;
font-size: 60px;
letter-spacing: -2px;
display: block;
float: left;
margin-right: 50px;
margin-top: -25px;
}
.number2 {
font-family: open_sanssemibold_italic;
font-size: 60px;
letter-spacing: -2px;
display: block;
float: right;
margin-left: 50px;
margin-top: -25px;
}
.number3 {
font-family: open_sanssemibold_italic;
font-size: 60px;
letter-spacing: -2px;
display: block;
float: left;
margin-right: 50px;
margin-top: -25px;
}
.number4 {
font-family: open_sanssemibold_italic;
font-size: 60px;
letter-spacing: -2px;
display: block;
float: right;
margin-left: 50px;
margin-top: -25px;
}
.number5 {
font-family: open_sanssemibold_italic;
font-size: 60px;
letter-spacing: -2px;
display: block;
float: left;
margin-right: 50px;
margin-top: -25px;
}


/* ------------- Works portfolio ---------- */
.portfolio-area{
	padding-top: 130px;
	padding-bottom: 100px;
}
.port-image {
width: 18%;
margin-right: 14px;
margin-bottom: 10px;
float: left;
}
.portfolio{
	width: 100%;
	min-height: 519px;
	margin-top: 50px;
	margin: auto;
	margin-top: 50px;
}
#options{
	text-align: center;
}
.loadmore {
display: block;
width: 200px;
padding: 15px 25px 15px 25px;
font-family: open_sansbold;
font-size: 14px;
text-align: center;
margin: auto;
color: #fff;
border-radius: 25px;
margin-top: 60px;
}
.loadmore:hover,.loadmore:visited,.loadmore:active,.loadmore:focus{
color: #fff;
}
.button-iso{
font-family: open_sansbold;
font-size: 12px;
padding: 12px 25px 12px 25px;
background: #eff3f3;
border: none;
border-radius: 25px;
color: #a9d06a;
margin-right: 10px;
margin-left: 10px;
}
.button-iso:hover,.button-iso:visited,.button-iso:active,.button-iso:focus{
	background: #e74c3c;
	color: #fff;
}
.is-checked {
	background: #e74c3c;
	color: #fff;
}


.count-area {
padding-top: 140px;
padding-bottom: 160px;
}
.count-text {
max-width: 800px;
display: block;
font-family: ralewaylight;
font-size: 16px;
color: #777777;
text-align: center;
margin: auto;
line-height: 1.6em;
padding-bottom: 50px;
}
.work-done-counter {
font-family: nexa_boldregular;
font-size: 36px;
color: #fff;
}
.work-done {
  text-align: center;
  min-width: 220px;
  padding-top: 30px;
  padding-bottom: 35px;
  float: left;
  min-height: 280px;
  margin-top: 70px;
  margin-right: 5px;
  border-radius: 15px;
  box-shadow: inset 0 -12px 0px -6px #666;
  -moz-box-shadow: inset 0 -12px 0px -6px #666;
  -webkit-box-shadow: inset 0 -12px 0px -6px #666;
}
.work-done-title {
font-family: open_sanssemibold;
font-size: 14px;
padding-top: 6px;
padding-bottom: 28px;
color: #fff;
}
.works-count{
	width: 100%;
	margin: auto;
}
.works-count2 {
  width: 97%;
  margin: auto;
}
.talent-heading-text {
max-width: 800px;
display: block;
font-family: ralewaylight;
font-size: 16px;
color: #fff;
text-align: center;
margin: auto;
line-height: 1.6em;
padding-bottom: 50px;
}
.shirt-icon{
	text-align: center;
}
.line-vertical{
	text-align: center;
	height: 55px;
	background: #f9c741;
	width: 3px;
	display: block;
	margin: auto;
	margin-top: -3px;
}
.right-team {
  background: url(../images/team-bg.png) no-repeat 40px 0px;
  width: 554px;
  height: 238px;
  border-left: 3px solid #f9c741;
  margin-left: -1px;
  float: right;
  margin-bottom: 40px;
}
.left-team {
background: url(../images/team-bg-left.png) no-repeat 38px 0px;
width: 554px;
height: 238px;
margin-right: -2px;
margin-top: 40px;
border-right: 3px solid#f9c741;
margin-left: 0px;
float: left;
}
.point-left {
background: url(../images/point.png) no-repeat;
width: 23px;
height: 24px;
position: absolute;
left: -13px;
top: 19px;
}
.point-right {
background: url(../images/point.png) no-repeat;
width: 23px;
height: 24px;
position: absolute;
right: -13px;
top: 19px;
z-index: 1;
}
.name{
	font-family: ralewaybold;
	font-size: 16px;
	color: #2c3e50;
}
.social{width: 100%;}
.social li {
	float: left;
	display: block;
	margin-right: 5px;
}
.social-image{
	width: 25px;
	height: 25px;
	display: block;
}
.team-people-left {
width: 300px;
float: left;
padding-left: 78px;
padding-top: 23px;
}
.team-people-right{
	width: 180px;
	float: left;
	}
.team-people-left-float-right {
width: 318px;
float: right;
padding-left: 0px;
padding-top: 23px;
}
.team-people-left-float-left{
	width: 180px;
	float: left;
	}
.team-people-right img{
	position: absolute;
	right: 0px;
	top: 2px;
}
.team-people-left-float-left img{
	position: absolute;
	left: 0px;
	top: 2px;
}
.position {
font-family: ralewayregular;
font-size: 14px;
color: #ff5c26;
margin-top: -5px;
margin-bottom: 15px;
}
.short-desc{
	font-family: ralewaylight;
	font-size: 13px;
	width: 210px;
}
.facebook{
	background: url(../images/facebook.png) no-repeat;
}
.twitter{
	background: url(../images/twitter-i.png) no-repeat;
}
.google{
	background: url(../images/google-i.png) no-repeat;
}
.pinterest{
	background: url(../images/pinterest.png) no-repeat;
}
.drribble{
	background: url(../images/dribble.png) no-repeat;
}
.linkedin{
	background: url(../images/linkedin.png) no-repeat;
}
.beh{
	background: url(../images/beh.png) no-repeat;
}
.last-box{
	height: 305px;
}
.morepeople {
font-family: ralewaybold;
background: #f9c741;
padding: 13px 20px 11px 20px;
border-radius: 26px;
color: #fff;
text-align: center;
width: 158px;
margin: auto;
display: block;
font-size: 12px;
}
.morepeople:hover,.morepeople:visited,.morepeople:active,.morepeople:focus{
	color: #fff;
}
.talent-area {
padding-top: 140px;
padding-bottom: 125px;
}
.price-upper-left {
text-align: center;
background: #28ccbf;
min-height: 325px;
color: #fff;
padding: 50px 45px 30px 45px;
max-width: 301px;
float: right;
margin-top: 60px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.price-lower-left {
  text-align: center;
  background: #5399c7;
  min-height: 390px;
  color: #000;
  padding: 50px 45px 35px 45px;
  width: 301px;
  background: #fff;
  float: right;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 9px 0px 0px #e9e9e9;
  -webkit-box-shadow: 0 9px 0px 0px #e9e9e9;
  -moz-box-shadow: 0 9px 0px 0px #e9e9e9;
}
.price-upper-middle {
  text-align: center;
  background: #40a0e1;
  min-height: 375px;
  color: #fff;
  padding: 50px 45px 30px 45px;
  max-width: 375px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.price-lower-middle {
text-align: center;
background: #5399c7;
min-height: 450px;
color: #000;
padding: 50px 45px 35px 45px;
max-width: 375px;
background: #fff;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
box-shadow: 0 9px 0px 0px #e9e9e9;
-webkit-box-shadow: 0 9px 0px 0px #e9e9e9;
-moz-box-shadow: 0 9px 0px 0px #e9e9e9;
}
.price-upper-right {
text-align: center;
background: #a9d06a;
min-height: 325px;
color: #fff;
padding: 50px 45px 30px 45px;
max-width: 301px;
margin-top: 60px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.price-lower-right {
text-align: center;
background: #5399c7;
min-height: 390px;
color: #000;
padding: 50px 45px 35px 45px;
max-width: 301px;
background: #fff;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
box-shadow: 0 9px 0px 0px #e9e9e9;
-webkit-box-shadow: 0 9px 0px 0px #e9e9e9;
-moz-box-shadow: 0 9px 0px 0px #e9e9e9;
}
.pricing-heading{
font-family: ralewayregular;
font-size: 18px;
margin-bottom: 45px;
}
.start-from{
	font-family: ralewayregular;
	font-size: 14px;
}
.price {
font-family: ralewaybold;
font-size: 68px;
margin-top: -20px;
margin-left: -14px;
margin-bottom: 20px;
}
.price-middle {
font-family: ralewaybold;
font-size: 100px;
margin-top: -20px;
margin-left: -14px;
margin-bottom: 20px;
}
.dolar {
font-size: 30px;
font-family: arvoitalic;
margin-right: -11px;
}
.dolar-middle {
font-size: 50px;
font-family: arvoitalic;
margin-right: -22px;
}
.price-description{
	color: #c5d9e9;
}
.price-description-middle{
	color: #c1dbf3;
}
.price-description-right{
	color: #deeccb;
}
.price-heading-text {
max-width: 800px;
display: block;
font-family: ralewaylight;
font-size: 16px;
color: #666;
text-align: center;
margin: auto;
line-height: 1.6em;
padding-bottom: 80px;
}
.features{
	font-family: ralewaysemibold;
	font-size: 16px;
	margin-bottom: 30px;
	color: #333333;
}
.feature-list{
	font-family: ralewayregular;
	font-size: 14px;
	margin-bottom: 15px;
	color: #777777;
}
.price-more-left {
font-family: ralewaysemibold;
background: #ff5c26;
padding: 13px 20px 11px 20px;
border-radius: 25px;
color: #fff;
text-align: center;
width: 130px;
margin: auto;
display: block;
font-size: 12px;
background: #28ccbf;
margin-top: 30px;
}
.price-more-left:hover,.price-more-left:visited,.price-more-left:active,.price-more-left:focus{
	color: #fff;
}
.price-more-middle {
font-family: ralewaysemibold;
background: #ff5c26;
padding: 13px 20px 11px 20px;
border-radius: 25px;
color: #fff;
text-align: center;
width: 130px;
margin: auto;
display: block;
font-size: 12px;
background: #40a0e1;
margin-top: 30px;
}
.price-more-left:hover,.price-more-left:visited,.price-more-left:active,.price-more-left:focus{
	color: #fff;
}
.price-more-right {
font-family: ralewaysemibold;
background: #ff5c26;
padding: 13px 20px 11px 20px;
border-radius: 25px;
color: #fff;
text-align: center;
width: 130px;
margin: auto;
display: block;
font-size: 12px;
background: #a9d06a;
margin-top: 30px;
}
.price-more-left:hover,.price-more-left:visited,.price-more-left:active,.price-more-left:focus{
	color: #fff;
}
.accr {
width: 100%;
max-height: 100px;
overflow: hidden;
cursor: pointer;
transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-webkit-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;
}
.accr:hover{
max-height: 500px;
}
.open{
	max-height: 500px;
	margin-bottom: 10px;
}
.close-icon {
position: absolute;
top: 105px;
right: 15px;
cursor: pointer;
width: 58px;
height: 58px;
}
.accr-left {
max-width: 552.5px;	
float: left;
}
.accr-right {
max-width: 552.5px;
min-height: 100px;
padding: 25px 40px 20px 40px;
float: left;
}
.bottom-social {
width: 25%;
float: left;
display: block;
text-align: center;
color: #fff;
margin-top: 7px;
margin-bottom: 6px;
}
.bottom-social:hover,.bottom-social:visited,.bottom-social:active,.bottom-social:focus{
	color: #fff;
}
.date{
	font-family: ralewayregular;
	font-size: 12px;
	color: #000;
}
.accr-title {
font-family: ralewaysemibold;
font-size: 20px;
color: #fff;
margin-top: -8px;
margin-bottom: 22px;
}
.accr-desc {
font-family: ralewaylight;
font-size: 13px;
color: #fff;
line-height: 1.7em;
}
.sl1 {
font-family: ralewaysemibold;
font-size: 10px;
padding: 3px 6px 3px 6px;
background: #fff;
width: 82px;
border-radius: 4px;
margin-right: 30px;
}
.sl1:hover,.sl1:active,.sl1:visited,.sl1:focus{
	color: #2ecc71;

}
.sl2{
	font-family: ralewaylight;
	font-size: 12px;
}
.sl3{
		font-family: ralewaylight;
	font-size: 12px;
}
.sl4{
		font-family: ralewaylight;
	font-size: 12px;
}
.subscribe{
	text-align: center;
	max-width: 1100px;
	margin: auto;
	margin-top: 100px;
}
.subs-form {
  width: 50%;
  float: left;
  text-align: center;
  height: 100px;
  font-family: open_sansbold;
  font-size: 14px;
  border: 8px solid #a9d06a;
  background: transparent;
  color: #16a085;
}
.load-btn {
width: 50%;
float: left;
text-align: center;
height: 100px;
font-family: open_sansbold;
border: none;
font-size: 14px;
color: #fff;
padding-top: 39px;
}
.refresh {
  width: 35px;
  display: block;
  margin-top: -23px;
  margin-left: 369px;
}
.load-btn:hover,.load-btn:active,.load-btn:visited,.load-btn:focus{
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    font-family: ralewayregular;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
   font-family: ralewayregular;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
   font-size: 14px;
   font-family: ralewayregular;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
   font-family: ralewayregular;
   font-size: 14px;
}
.blog-area {
padding-top: 140px;
padding-bottom: 80px;
}
/* ------------- logos Style ---------- */

.logos-area {
padding-top: 72px;
padding-bottom: 22px;
}
.up{
	margin-top: -20px;
}

.owl-carousel .owl-item {
position: relative;
min-height: 1px;
float: left;
-webkit-backface-visibility: hidden;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
min-height: 70px;
}
.owl-carousel .owl-item img{
	vartical-align: middle;
}
.comma{
width: 93px;
height: 85px;
display: block;
margin: auto;
background: url(../images/comma.png) no-repeat;
}
.testimonial-image{
	margin: auto;
	max-width: 700px;
	margin-top: 34px;
	display: block;

}
.testi-single-image{
		width: 100px;
	height: 100px;
	float: left;
}
.testi-single-image img{
	width: 80px;
	height: 80px;
}
.testi-single-image img:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
        -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
	margin: auto;
}
#content2 , #content3 , #content4 , #content5 , #content6 , #content7 {
 display: none;
}

#image4:hover #content1{
display: block;
}


.testi-content {
margin: auto;
text-align: center;
max-width: 915px;
}
.review{
	font-family: open_sanslight_italic;
	font-size: 16px;
	line-height: 1.7em;
	text-align: center;
	color: #fff;
	max-width: 970px;
}
.self-position {
font-family: ralewaysemibold;
font-size: 16px;
max-width: 223px;
color: #fff;
text-align: center;
margin: auto;
margin-top: 13px;
}
.testi-area {
padding-top: 90px;
padding-bottom: 70px;
}
.self-span {
  font-family: ralewaybold;
  font-size: 14px;
}

/* ------------- Contact Style ---------- */
.contact-area{
padding-top: 130px;
padding-bottom: 60px;
}
.how-we-do-heading2 {
font-family: ralewayextrabold;
font-size: 30px;
text-align: center;
color: #555555;
padding-bottom: 14px;
}
.inputfield{
	width: 49%;
	background: transparent;
	float: left;
	border: 4px solid #f0f0f0;
	margin-right: 1%;
	font-family: ralewayregular;
	font-size: 14px;
	color: #fff;
	height: 50px;
	margin-bottom: 20px;
	padding-left: 16px;
	border-radius: 25px;
}
.inputfieldmessage{
	width: 99%;
	background: transparent;
	float: left;
	border: 4px solid #f0f0f0;
	margin-right: 1%;
	font-family: ralewayregular;
	font-size: 14px;
	color: #879cb0;
	height: 240px;
	margin-bottom: 20px;
	padding-left: 16px;
	border-radius: 25px;
}
.inputbtn{
	border: none;
	font-family: ralewayextrabold;
	font-size: 12px;
	padding-top: 17px;
	padding-bottom: 15px;
	width: 99%;
	color: #fff;
	border-radius: 25px;
}
.info-panel{
	width: 20%;
	text-align: center;
	float: left;
	color: #fff;
    margin-left: 100px;
}
.info-title {
color: #879cb0;
margin-top: 20px;
margin-bottom: 7px;
}
.email{
	color: #fff;
}
.contact-info{
    margin-left: 22%;
	margin-top: 80px;
}
.email:hover,.email:focus,.email:active,.email:visited{
	color: #fff;
}

/* ------------- footer Style ---------- */
.t-icon{
	background: url(../images/twitter-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.f-icon{
	background: url(../images/fb-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.g-icon{
	background: url(../images/google-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.p-icon{
	background: url(../images/pint-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.l-icon{
	background: url(../images/in-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.d-icon{
	background: url(../images/drribble-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.i-icon{
	background: url(../images/instagram-yellow.png) no-repeat;
	background-position: 0px -40px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.t-icon:hover{
	background-position: 0px 0px;
}
.f-icon:hover{
	background-position: 0px 0px;
}
.g-icon:hover{
	background-position: 0px 0px;
}
.l-icon:hover{
	background-position: 0px 0px;
}
.i-icon:hover{
	background-position: 0px 0px;
}
.p-icon:hover{
	background-position: 0px 0px;
}
.d-icon:hover{
	background-position: 0px 0px;
}
.footer-social{
    padding-left: 15%;
	max-width: 630px;
	margin: auto;
}
.social-link{
	margin-left: 25px;
	margin-right:25px;
	width: 40px;
	height: 40px;
	float: left;
}
.social-area {
padding-top: 60px;
padding-bottom: 50px;
}
.footer-area{
	padding-top: 30px;
padding-bottom: 20px;
}
.footer-text{
	max-width: 462px;
	text-align: center;
	margin: auto;
}
.footer-text{
font-family: ralewaybold;
font-size: 12px;
color: #fff;
}
.hilight-text{
	font-family: ralewaybold;
	font-size: 12px;
	color: #000;
}
.part{
    width: 20%;
    float: left;
}
.quality-text {
font-family: ralewayregular;
font-size: 14px;
color: #888a8a;
width: 180px;
text-align: center;
margin: auto;
}
/* ------------- Color Style ---------- */
.white2{
	background: #eff3f3;
}
.bright-red{
background: #e74c3c;
}
.bright-red-color{
	color: #e74c3c;
}
.red-text{
	color: #fd5f42;
}
.red-bg{
	background: #fc7173;
}
.red-text-facts{
	color: #e74c3c;
}
.yellow-color{
	color: #f9c741;
}
.yellow-text{
	color: #fbb941;
}
.yellow-text2{
	color: #f7c640;
}
.light-green-text {
	color: #26cbbe;
}
.blue-text{
	color: #2b82c9;
}
.light-ovile-text{
	color: #2cca90;
}
.cyan-bg{
	background: #28ccbf;
}
.white{
	background: #fff;
}
.white-text-color{
	color: #fff;
}
.yellow-background-color{
	background: #f9c741;
}
.yellow-load-more{
	background: #f7c640;
}
.desaturated-blue{
	background: #2c3e50;
}
.green-background{
	background: #22c48a; 
}
.green-background2{
	background: #a9d06a; 
}
.green-text{
	color: #26cbbe;
}
.green-text-price {
	color: #2ecc71;
}
.tl-color{
	color: #bdebe7;
}
.dark-moderate-cyan{
	background: #49a0ae;
}
.black-text{
	color: #000;
}
.dark-color{
	color: #555555;
}
.soft-blue{
background: #5cace2;
}
.desaturated-violet{
	background: #a469bd;
}
.blog-bg-color-light-green{
	background: #28ccbf;
}
.blog-bg-color-light-violet{
	background: #a9d06a;
}
.blog-bg-color-light-olive {
  background: #fc7173;
}

.blog-bg-color-light-blue{
	background: #40a0e1;
}
.blog-bg-color-light-orange{
	background: #f9c741;
}
.blog-bg-color-light-red{
	background: #28ccbf;
}
.blog-bg-color-light-green-text{
	color: #2ecc71;
}
.blog-bg-color-light-violet-text{
	color: #a469bd;
}
.blog-bg-color-light-olive-text{
	color: #16a085;
}
.blog-bg-color-light-blue-text{
	color: #5399c7;
}
.blog-bg-color-light-orange-text{
	color: #f39c12;
}
.blog-bg-color-light-red-text{
	color: #e74c3c;
}
.dark-blue{
	background: #182430;
}
.light-blue{
	background: #40a0e1;
}
.dark-red{
	background: #c0392b;
}
.white3{
	background: #fff;
}
.fyellow{
	background: #f9c741;
}
.fgreen{
	background: #a9d16a;
}
.fred{
	background: #fc7173;
}
.fcyan{
	background: #28ccbf;
}
.fblue{
	background: #3c9ad8;
}

/*-- slides --*/
#products{
	text-align: center;
	position: relative;
	}
#products .slides_container {
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	}
.slides_container a {
	width: 960px;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	}
#products .next, #products .prev {
	position:absolute;
	top: 20%;
	width: 30px;
	height: 30px;
	padding-top: 20px;
	overflow: hidden;
	display: block;
	z-index: 10;
	text-indent: -9999px;
	}
#products .prev {
	background: url(../images/cru_left.png);
	background-repeat: no-repeat;
	left: 0px;
	}
#products .next {
	right: 0px;
	background: url(../images/cru_right.png);
	background-repeat: no-repeat;
	}
.pagination>li>a:hover, .pagination>li>span:hover, 
.pagination>li>a:focus, .pagination>li>span:focus{
	background-color: transparent;
	}
.pagination>li>a, .pagination>li>span{
	background-color: transparent;
	border: none;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	}
#products .pagination {
	text-align: center;
	}
#products .pagination li {
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	}
#products .pagination li a{
	opacity: 0.2;
	display: block;
	}
#products .pagination li.current a{
	opacity: 1.0;
	}
#products .pagination li.current a img{
	width: 85px;
	height: 85px;
	display: block;
	}

/* Back to top
--------------------------------------------------------------------------------------------------------*/
#backtotop {
  height: auto;
  position: fixed;
  right: 30px;
  bottom: 81px;
  display: none;
  z-index: 30;
}
#backtotop ul {
padding: 15px 0px;
}
#backtotop ul li a {
background: url(../images/bg-up.png) center 48% no-repeat #fff;
background-size: 22px 15px;
display: block;
width: 50px;
height: 50px;
float: right;
right: 10px;
text-indent: -9000px;
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.header-only{
	height: 120px;
	position: fixed;
	z-index: 999999;
}
.header-body{
	margin-bottom: -20px;
}
input:focus {outline: none; }
.browser-icon {
  position: absolute;
  top: 48px;
  left: 55px;
}
.paper-plane {
  position: absolute;
  top: 50px;
  left: 80px;
}
.colon-icon {
  position: absolute;
  top: 48px;
  left: 69px;
}
.mouse-icon {
  position: absolute;
  top: 42px;
  left: 69px;
}
.pen-icon{
  position: absolute;
  top: 42px;
  left: 69px;
}
.light-box-content img {
  border-radius: 10px;
  border: 5px solid #d9eabe;
}
#map {
height: 400px;
width: auto;
}
.accr-left img{
width: 100%;
}
.web-color{
background: #14877e;
}
.web-color-text{
color: #f9c741;
}
.wesite-color{
background: #14877e;
}
.wesite-color-text{
color: #28ccbf;
}
.web-color-text2{
color: #9bc76d
}
.dark-text{
color: #bec1c5;
}
.price-more-middle:hover,.price-more-middle:visited,.price-more-middle:active,.price-more-middle:focus {
color: #fff;
}
.price-more-right:hover,.price-more-right:visited,.price-more-right:active,.price-more-right:focus {
color: #fff;
}

.logosvg {
margin: 2% 2px 2px 22.5%;
display: block;
text-align: center;
width: auto;

}

.logos {
margin: -50px 10px 10px 10px; 
 height: 100%; 
   min-height: 85px;
     display: -webkit-flex;
       display: flex;
          -webkit-align-items: center;
           align-items: center; 
             -webkit-justify-content: center;
               justify-content: center;
}

.client-logo-per {

}

