/* Strong cyan color */

.bright-red{
background: #f9c741;
}
.bright-red2{
color: #f9c741;
}

.bright-red-color{
	color: #a9d06a;
}
.bright-red-color2{
	color: #ff5c26;
}
.red-text{
	color: #fd5f42;
}
.red-text2{
	color: #e44c40;
}
.red-text-facts{
	color: #e74c3c;
}
.yellow-color{
	color: #a9d06a;
}
.yellow-text{
	color: #fbb941;
}
.yellow-text2{
	color: #fd5f42;
}
.light-green-text {
	color: #26cbbe;
}
.blue-text{
	color: #f9c741;
}
.light-ovile-text{
	color: #2cca90;
}

.white{
	background: #eff3f3;
}
.white-text-color{
	color: #fff;
}
.yellow-background-color{
	background: #a9d06a;
}
.yellow-load-more{
	background: #e44c40;
}
.desaturated-blue{
	background: #2c3e50;
}
.green-background{
	background: #f9c741;
}
.green-text{
	color: #fd5f42;
}
.green-text-price {
	color: #2ecc71;
}
.dark-moderate-cyan{
	background: #49a0ae;
}
.black-text{
	color: #000;
}
.dark-color{
	color: #555555;
}
.soft-blue{
background: #a469bd;
}
.desaturated-violet{
	background: #e44c40;
}
.blog-bg-color-light-green{
	background: #22ad9a;
}
.blog-bg-color-light-violet{
	background: #e2a72d;
}
.blog-bg-color-light-olive{
	background: #3c99d7;
}
.blog-bg-color-light-blue{
	background: #32ae65;
}
.blog-bg-color-light-orange{
	background: #e54d41;
}
.blog-bg-color-light-red{
	background: #fc7d65;
}
.load-post-bg{
	background: #28ccbf;
}
.blog-bg-color-light-green-text{
	color: #2ecc71;
}
.blog-bg-color-light-violet-text{
	color: #22ad9a;
}
.blog-bg-color-light-olive-text{
	color: #16a085;
}
.blog-bg-color-light-blue-text{
	color: #5399c7;
}
.blog-bg-color-light-orange-text{
	color: #f39c12;
}
.blog-bg-color-light-red-text{
	color: #e74c3c;
}
.dark-blue{
	background: #182430;
}
.dark-red{
	background: #28ccbf;
}
.navbar-default .navbar-brand{
	color: #1abc9c;
}
.love-sign {
  color: #84a74d;
}
.stop-sign {
  color: #096f5b;
}
.button-iso{
background: #fff;
color: #28ccbf;
border-radius: 25px;
}
.button-iso:hover,.button-iso:visited,.button-iso:active,.button-iso:focus{
	background: #f9c741;
	color: #fff;
}
.is-checked {
  background: #f9c741;
  color: #fff;
}
.price-upper-left {
  background: #28ccbf;
}
.price-more-left {
  background: #28ccbf;
}
.price-upper-middle {
  background: #e44c40;
}
.price-more-middle {
  background: #e44c40;
}
.price-upper-right {
  background: #40a0e1;
}
.price-more-right {
  background: #40a0e1;
}
.price-description-right {
  color: #c1dbf3;
}
.price-description-middle {
  color: #f4c4c1;
}
.price-description {
  color: #bcebe6;
}
.subs-form {
  border: 8px solid #32ae65;
}
.logo {
  background: url(../../images/logo-green-white.png) no-repeat;
}
.for-green1 {
  background: #fd5f42;
}
.cyan-bg {
  background: #f9c741;
}
.tl-color {
  color: #fdeac2;
}
.for-cyan2{
	background: #3c9ad9;
}
.for-cyan3{
	background: #a9d06a;
}
.green-background2 {
  background: #28ccbf;
}
.we-do-text {
  color: #fdeac2;
}
.light-box-content img {
  border-radius: 10px;
  border: 5px solid #a1e9e3;
}
.red-bg {
  background: #fc7173;
}
.info-title {
  color: #fff;
}
.t-icon{
	background: url(../../images/twitter-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.f-icon{
	background: url(../../images/fb-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.g-icon{
	background: url(../../images/google-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.p-icon{
	background: url(../../images/pint-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.l-icon{
	background: url(../../images/in-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.d-icon{
	background: url(../../images/drribble-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.i-icon{
	background: url(../../images/instagram-green.png) no-repeat;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.t-icon:hover{
	background-position: 0px -40px;
}
.f-icon:hover{
	background-position: 0px -40px;
}
.g-icon:hover{
	background-position: 0px -40px;
}
.l-icon:hover{
	background-position: 0px -40px;
}
.i-icon:hover{
	background-position: 0px -40px;
}
.p-icon:hover{
	background-position: 0px -40px;
}
.d-icon:hover{
	background-position: 0px -40px;
}
.white3{
	background: #414149;
}
.for-other1{
	color: #fd5f42;
}
.price-heading-text {
  color: #bec1c5;
}
.light-blue {
  background: #f9c741;
}
.review {
  color: #fde8bb;
}
.others2{
	color: #40a0e1;
}
.other3{
	background: #40a0e1;
}
.cyan-color2{
color: #a9d06a;
}
.web-color-text{
color: #fff;
}
.green-background3{
background: #28ccbf;
}
.comma {
  background: url(../../images/comma2.png) no-repeat;
}